.todo{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.todo button{
    font-family: "Century Gothic";
    font-size: medium;
}

.todos-container {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-family: "Century Gothic";
    font-size: x-large;
}